<form id="loginform" action="/login" method="post">
  <input type="text" class="input-large email" name="<%=everyauth.password.loginFormFieldName%>" placeholder="用户名"/>
  <br>
  <input type="password" class="input-medium password" name="<%=everyauth.password.passwordFormFieldName%>" placeholder="密码"/>
  <button type="submit" class="btn boton btn-primary" id="sign_in_button">登录</button>
</form>